<div class = "p-2">
<div class="d-flex w-100 justify-content-between">
  <h2 class="head-text mt-3">Active Users</h2>
  <%= link_to "Add New User", new_user_path , class: 'btn btn-primary', style: "max-height: 2.4em" if can? :create_user, User%> 
</div>

<div style="display:block;margin-bottom:10%;">

<% @users.each do |user| %>
<div class="card my-4 me-4 user-card" style="width: 18rem;height:15rem;display:inline-block">
  <div class="card-body">
  <div class="card-header mb-3">
    <h5 class="card-title text-center m-0"><b><%= user.name.capitalize %></b></h5>
  </div>
    <p class="card-text">
      <%if(user.roles.first.name=="manager")%>
      <b>Role:</b>&nbsp;<span class="badge badge-pill badge-primary">Manager</span>
      <% elsif (user.roles.first.name=="admin") %>
      <b>Role:</b>&nbsp;<span class="badge badge-pill badge-danger">Admin</span>
      <% elsif (user.roles.first.name=="customer") %>
      <b>Role:</b>&nbsp;<span class="badge badge-pill badge-secondary">Customer</span>
      <% else %>
      <b>Role:</b>&nbsp;<span class="badge badge-pill badge-info">Employee</span>
      <%end%>
    </p>
     <%= link_to "Edit User", edit_user_path(user),class:"btn btn-primary" if current_user.has_role? "admin" %>
   
   </div>
</div>

<%end%>
</div>

<div class="apple_pagination">
    <%= will_paginate @users, :container => false %>
  </div>
</div>

</div>